<h1> Create a board </h1>

@model CatBoardInterface.Models.Board

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="text-center">Create Board</h1>
    @using (Html.BeginForm())
    {
      <div class="form-group">
        <p>Board Name</p>
        @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Board Description</p>
        @Html.TextBoxFor(model => model.Description, new {@class="form-control"})
      </div>
      <div class="form-group">
        <p>Board Banner Image</p>
        @Html.TextBoxFor(model => model.BannerImage, new {@class="form-control"})
      </div>
      <button type="submit" class="btn btn-info btn-block"> Add a Board </button>
    }
  </div>
</div>