
<h1>WHAT? LOOK AT ALL THESE BOARDS</h1>

@foreach(Board board in Model)
{

  @Html.ActionLink($"{board.Name}", "Details", new {id = board.BoardId}, new { @class = "btn btn-dark btn-large"});
  <img src=@board.BannerImage class="banner-img--index">
  <hr>
}
<a href="/boards/create">
  <button class="btn btn-primary">Add Board</button>
</a>